services:
  snippet-manager:
    image: ghcr.io/ingsis-second-chance/snippet-manager:latest
    container_name: snippet-manager
    ports:
      - "9000:8081"
    depends_on:
      - db-snippet
      - redis
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db-snippet:5432/snippetDB
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres

      - PRINT_SCRIPT_SERVICE_URL=http://print-script-manager:8082
      - PERMISSIONS_SERVICE_URL=http://permissions-manager:8083
      - BUCKET_SERVICE_URL=http://asset-service:8080

      # Auth0 backend (M2M)
      - AUTH0_ISSUER=https://dev-vp3w4qxf5usvluez.us.auth0.com/
      - AUTH0_AUDIENCE=https://snippet-api
      - AUTH_SERVER_URI=https://dev-vp3w4qxf5usvluez.us.auth0.com/
      - AUTH_CLIENT_ID=5GH5KDVwtDtGrZWssaBz2zi9iLkWcSFd
      - AUTH_CLIENT_SECRET=mYZfPk6YQtw8TqMDvErgVh8ceJjKktjSy8G_i8t2VGIot1gZq4O2o_DUiw2v4ilS
      - STREAM_LINT_KEY=snippet-lint
      - STREAM_FORMAT_KEY=snippet-format
      - STREAM_STATUS_KEY=snippet-status
      - STREAM_CONSUMER_GROUP_SNIPPET=snippet-consumer-group
      - REDIS_PORT=6379
      - REDIS_HOST=redis
    networks:
      - snippet_network

  db-snippet:
    image: postgres:14
    container_name: db-snippet
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=snippetDB
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data_snippets:/var/lib/postgresql/data
    networks:
      - snippet_network

  print-script-manager:
    image: ghcr.io/ingsis-second-chance/print-script-manager:latest
    container_name: print-script-manager
    depends_on:
      - redis
    ports:
      - "3000:8082"
    environment:
      - BUCKET_SERVICE_URL=http://asset-service:8080

      # Auth0 backend (M2M)
      - AUTH0_ISSUER=https://dev-vp3w4qxf5usvluez.us.auth0.com/
      - AUTH0_AUDIENCE=https://snippet-api
      - AUTH_SERVER_URI=https://dev-vp3w4qxf5usvluez.us.auth0.com/
      - AUTH_CLIENT_ID=5GH5KDVwtDtGrZWssaBz2zi9iLkWcSFd
      - AUTH_CLIENT_SECRET=mYZfPk6YQtw8TqMDvErgVh8ceJjKktjSy8G_i8t2VGIot1gZq4O2o_DUiw2v4ilS

      # Redis streams
      - STREAM_LINT_KEY=dnosadnisandonasdsoa
      - STREAM_FORMAT_KEY=fnosadnisandonasdsoa
      - STREAM_STATUS_KEY=dasdisanddasdasdasjdiuu-ddjjdjd
      - STREAM_CONSUMER_GROUP_SNIPPET=printscript-consumer-uudjdosaid-group
      - STREAM_CONSUMER_GROUP_PRINTSCRIPT=printscript-consumer-uudjdosaid-group

      # Redis
      - REDIS_PORT=6379
      - REDIS_HOST=redis
    networks:
      - snippet_network

  permissions-manager:
    image: ghcr.io/ingsis-second-chance/permissions-manager:latest
    container_name: permissions-manager
    ports:
      - "5001:8083"
    depends_on:
      - db-permissions
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db-permissions:5432/permissionsDB
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres

      # Auth0 backend (M2M)
      - AUTH0_ISSUER=https://dev-vp3w4qxf5usvluez.us.auth0.com/
      - AUTH0_AUDIENCE=https://snippet-api
      - AUTH_SERVER_URI=https://dev-vp3w4qxf5usvluez.us.auth0.com/
      - AUTH_CLIENT_ID=5GH5KDVwtDtGrZWssaBz2zi9iLkWcSFd
      - AUTH_CLIENT_SECRET=mYZfPk6YQtw8TqMDvErgVh8ceJjKktjSy8G_i8t2VGIot1gZq4O2o_DUiw2v4ilS
      - AUTH0_AUDIENCE_API=https://dev-vp3w4qxf5usvluez.us.auth0.com/api/v2/
    networks:
      - snippet_network

  db-permissions:
    image: postgres:14
    container_name: db-permissions
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=permissionsDB
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data_permissions:/var/lib/postgresql/data
    networks:
      - snippet_network

  asset-service:
    container_name: asset-service
    image: ghcr.io/austral-ingsis/snippet-asset-service:latest
    ports:
      - "4000:8080"
    environment:
      - AZURE_HOST=http://azurite
    networks:
      - snippet_network

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: azurite
    hostname: azurite
    restart: always
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    volumes:
      - blob:/workspace
    networks:
      - snippet_network

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - snippet_network

  ui-service:
    image: ghcr.io/ingsis-second-chance/printscript-ui:dev
    container_name: ui-service
    networks:
      - snippet_network

  proxy:
    image: nginx:latest
    container_name: proxy
    depends_on:
      - snippet-manager
      - print-script-manager
      - permissions-manager
      - asset-service
      - azurite
      - redis
      - ui-service
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.local.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - snippet_network

networks:
  snippet_network:
    driver: bridge

volumes:
  postgres_data_snippets:
  postgres_data_permissions:
  blob:
    external: true